*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar{
    height: 10%;
    width: 100%;
    background:linear-gradient(20deg,red,blue);
    margin:5px;
    justify-content: center;
    align-items: center;
}
h1{
  color:white;
  text-align: center;
}
h4{
    color:aqua;
    text-align: right;
    padding-right: 20px;

}
.container{
 text-align: center;
 color:rgb(249, 10, 10);
}
body{
    background: linear-gradient(45deg,purple,black);
    align-items:center ;
    justify-content: center;
    height: 100vh;
}
.score{
    display: flex;
    justify-content: center;
}
.score .computer{
    margin-left: 100px;
}
.result{
    display: flex;
    justify-content: center;
}
.user{
    display: flex;
    justify-content: center;
}
.computer{
    display: flex;
    justify-content: center;
}
.Clip{
    clip-path: circle(46.1% at 50% 50%);
}
